
<div class="main" style="margin: 0 auto">
    <div class="inner" style="margin: 0 auto">
        <div class="content" style="margin: 0 auto">
            <div class="left">
                <div class="fig">
                    <div class="fig_img"><img src="images/{{product.imgsrc}}" /></div>
                    <div class="fig_img" style="display: none"><img src="images/{{product.imgsrc}}"/></div>
                    <span></span>
                </div>
                <div class="big">
                    <img src="images/big_1.jpg"/>
                </div>
                <div class="small" >
                    <a href="javascript:;" class="disabled" id="spec_left"></a>
                    <a href="javascript:;" class="disabled" id="spec_right"></a>
                    <ul>
                        <li><img src="images/{{product.imgsrc}}"/></li>
                        <li><img src="images/{{product.imgsrc}}"/></li>
                    </ul>
                </div>
                <div class="num">
                    <p>商品编号：1591457</p>
                    <a href="javascript:;"><i></i>关注商品</a>
                    <a href="javascript:;"><span></span>分享</a>
                </div>
            </div>
            <div class="center">
                <div id="name">
                    <h1>【京东超市】韩后（Hanhoo)水漾嫩白达人面膜组合12片(仙人掌+巨藻+山羊奶各4片 蚕丝面膜 补水面膜女)</h1>
                    <p>【京东自营】入秋备新妆，护肤新主张！全场4折起，更有满199减80！优惠持续进行中！<a href="javascript:;">【更多满减点击进入】</a> </p>
                </div>
                <div id="summary">
                    <img src="images/hdg45fdsf54dfds_03.jpg"/>
                    <p>支　　持：<a href="javascript:;" style="color: red"><i></i>礼品购</a> </p>
                    <p>
                        配　　送：
                        <select>
                            <option>河南郑州市新密市</option>
                        </select>
                        <b>有货</b>， 支持 <a href="javascript">99元免运费</a>
                    </p>
                    <p>服　　务：由 京东 发货，并提供售后服务。23:00前完成下单,预计<b>明天(09月03日)</b>送达</p>
                </div>
                <div id="choose">
                    <dl>
                        <dt>选择产品：</dt>
                        <dd><i></i><a href="javascript:;"><img src="images/57481fd1Nefef1325dfec.jpg"/>水漾嫩白22ml*12片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/571dc4dbN33db4e11.jpg"/>水嫩亮肤22ml*21片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/57481c2dN4cc27564.jpg"/>水嘟嘟粉嫩22ml*15片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/57481f5aN8b011156.jpg"/>巨藻盒装22ml*10片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/5791c595Ne90ffd30.jpg"/>玫瑰山羊奶22ml*8片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/5791c619N02c20106.jpg"/>树莓粉嫩22ml*5片</a></dd>
                        <dd><i></i><a href="javascript:;"><img src="images/573ed4a9Naf58bd2d.jpg"/>红石榴红润22ml*5片</a></dd>
                    </dl>
                </div>
                <div id="bai">
                    <img src="images/56336130N97219d11.png"/>
                    <i class="sprite-question"></i>
                </div>
                <div id="buy">
                    <div class="wrap-input">
                        <a class="add" href="javascript:;" id="addBtn" ng-click="add()">+</a>
                        <a class="reduce" href="javascript:;" id="redBtn">-</a>
                        <input id="num" type="text" value="1">
                    </div>
                    <a class="buy_bg" href="javascript:;"><span ng-click="add()"></span></a>
                    <a id="tia" href="javascript:;">打白条</a>
                </div>
            </div>
            <div class="right">
                <div class="logo"><img src="images/557e4b12N0f1e9cf6.jpg"/></div>
                <a href="javascript:;" style="color: #005aa0;padding: 0 10px;">韩后京东自营旗舰店</a><span> 京东自营</span>
                <ul>
                    <li><img src="images/sprite-gys-im.gif"/><a href="javascript:;">联系供应商</a></li>
                    <li><i class="i1"></i><a href="javascript:;">咨询JIMI</a></li>
                    <li><i class="i2"></i><a href="javascript:;">进店逛逛</a></li>
                    <li><i class="i3"></i><a href="javascript:;">关注店铺</a></li>
                </ul>
                <dl>
                    <dt>服务支持：</dt>
                    <dd><b><img src="images/zhongbiao.png"/></b><a href="javascript:;">211限时达</a> </dd>
                    <dd><b><img src="images/shoutixiang.png"/></b><a href="javascript:;">自提</a> </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
